* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

#container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar projects"
                         "sidebar projects";
    height: 100%;
}

#sidebar {
    box-shadow: 2px 0px 5px rgb(168, 168, 168);


}

#add-project {
    all: unset;
}



#projects {
    /* border: 1px solid black; */
}

.project-card {
     border: 1px solid black;
}