:root {
    --selected-color: #b2c9d3;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "DejaVu Sans Mono", monospace;
}

html, body {
    height: 100%;
}

#container {
    display: grid;
    grid-template-columns: 20rem 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar projects"
                         "sidebar projects";
    height: 100%;
}

#sidebar {
    box-shadow: 2px 0px 5px rgb(168, 168, 168);
}

#add-project {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-items: start;
    margin: 1.2rem;
    padding: 0.2rem;
    height: 2rem;
}

#add-project:hover {
    cursor: pointer;
}

#add-project:active {
    background-color: var(--selected-color);
    transform: translateY(2px);
}

#add-project-button {
    all: unset;
    color: #1ba3e2;
    font-size: 1.05rem;
    font-weight: 600;
}

#add-project-plus {
    height: 100%;
    width: 100%;
}


#project-area {
    padding: 2rem;
}

.project-card {
    box-shadow: 0px 1px 0px rgb(216, 215, 215);
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1.5rem, 1fr));
    gap: 2rem;
    grid-column: 1fr;
    align-content: start;
    margin-bottom: 2rem;
}

.add-task-container {
    display: grid;
    grid-template-columns: 2rem 5fr;
    gap: 1rem;
    justify-items: start;
    align-items: center;
    height: 2rem;
}

.add-task-container:hover {
    cursor: pointer;
}

.task-plus {
    height: 100%;
    width: 100%;
}


.task-button {
    all: unset;
}