* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

#container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar projects"
                         "sidebar projects";
    height: 100%;
}

#sidebar {
    background-color: rgb(5, 112, 41);
}

#projects {
    /* border: 1px solid black; */
}

.project-card {
     border: 1px solid black;
}