* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    border: solid 1px black;

}

.project-card {

}