:root {
    --selected-color: #b2c9d3;
    --color1: #1ba3e2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "DejaVu Sans Mono", monospace;
}

html, body {
    height: 100%;
}

#container {
    display: grid;
    grid-template-columns: 20rem 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar projects"
                         "sidebar projects";
    height: 100%;
}

#sidebar {
    box-shadow: 2px 0px 5px rgb(168, 168, 168);
}

#add-project {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-items: start;
    margin: 1.2rem;
    padding: 0.2rem;
    height: 2rem;
}

#add-project:hover {
    cursor: pointer;
}

#add-project:active {
    background-color: var(--selected-color);
    transform: translateY(2px);
}

#add-project-button {
    all: unset;
    color: var(--color1);
    font-size: 1.05rem;
    font-weight: 600;
}

#add-project-plus {
    height: 100%;
    width: 100%;
}


#project-area {
    padding: 2rem;
}

.project-card {
    box-shadow: 0px 1px 0px rgb(216, 215, 215);
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1.5rem, 1fr));
    gap: 2rem;
    grid-column: 1fr;
    align-content: start;
    margin-bottom: 2rem;
}

.add-task-container {
    display: grid;
    grid-template-columns: 2rem 5fr;
    gap: 1rem;
    justify-items: start;
    align-items: center;
    height: 2rem;
}

.add-task-container:hover {
    cursor: pointer;
}

.task-plus {
    height: 100%;
    width: 100%;
}

.task-button {
    all: unset;
}

#modal {
    justify-self: center;
    align-self: center;
    width: 25rem;

    border: 3px solid var(--color1);
    border-radius: 10px;
}

#new-project-form {
    display: grid;
    grid-template-rows: 0.5rem repeat(3, 2rem);
    padding: 1rem;
    gap: 2rem;
    justify-items: center;
}

#project-close-button {
    all: unset;
    justify-self: end;
    cursor: pointer;
    font-size: 1.2rem;
    color: gray;
}

#project-close-button:hover {
    color: black;
}

#new-project-header {
    justify-self: center;
    color: var(--color1);
}

#project-title-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 0.5em 1em;
    gap: 0rem;
    align-items: center;
}

#project-title-label {
    font-size: 1rem;
}

#project-title {
    all: unset;
    height: 2rem;
    padding-left: 0.7rem;
    border: 1px solid gray;
    border-radius: 10px;
}

#project-title:focus {
    border: 2px solid var(--selected-color);
}

#submit-button {
    border: none;
    border-radius: 10px;
    background-color: var(--color1);
    color: white;
    font-weight: 600;
    width: 7rem;
}